<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fist score card.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD126B8424351E2700A28DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD126B9A24351E2900A28DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD126BA524351E2900A28DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
